table.table {
  border-collapse: collapse;
  border: 1px solid grey;
}
th.table,
table.table th {
  border: 1px solid grey;
  padding: 2px;
  color: #FFFFFF;
  background-color: #2AA3D8;
}
td.table,
table.table td {
  border: 1px solid grey;
  padding: 2px;
}
tr.table_col_group,
th.table_col_group,
td.table_col_group {
  background: #a0a0a0;
}
tr.odd,
th.odd,
td.odd {
  background: #e0e0e0;
}
tr.even,
th.even,
td.even {
  background: #ffffff;
}
a.table_link {
  display: block;
  width: 100%;
  height: 100%;
  color: #ffffff;
}
