table.table {
  border-collapse: collapse;
  border: 1px solid grey;
}
th.table,
table.table th {
  border: 1px solid grey;
  padding: 2px;
  color: #FFFFFF;
  background-color: #2AA3D8;
}
td.table,
table.table td {
  border: 1px solid grey;
  padding: 2px;
}
tr.group {
  background: grey;
}
